# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual Studio Code Settings
.vscode

# Log files
*.log

# kmeans executable files (deprecated - REMOVE)
src/kmeans\ (Rodinia)/Base_WeakReproducibility/kmeans
src/kmeans\ (Rodinia)/StrongReproducibility/kmeans

# LongAccumulator executable files (deprecated - REMOVE)
src/LongAccumulator/test

# mri-gridding executable files (deprecated - REMOVE)
src/mri-gridding\ (Parboil)/Base_WeakReproducibility/mri-gridding
src/mri-gridding\ (Parboil)/StrongReproducibility/mri-gridding

# RNGExample executable files (deprecated - REMOVE)
src/RNGExample/Base/RNGExample
src/RNGExample/WeakReproducibility/RNGExample
src/RNGExample/StrongReproducibility/RNGExample

# Build directory
build